@media screen and (max-width: 360px) {
    .banner {
        width: 90%;
        margin: 0px auto;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .banner-heading {
        font-size: 3rem;
        text-align: center;
    }

    .banner-left {
        align-items: center;
    }

    .mobile-hide {
        display: none;
    }


    .featured-heading {
        font-size: 32px;
    }

    .featured-card {
        grid-template-columns: 1fr;
        gap: 40px;
        width: 90%;
        margin-inline: auto;
    }

    .presented {
        grid-template-columns: 1fr;
    }

    .fresh-card-box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .fresh-card-1 {
        grid-row: span 1;
    }

    .fresh-card-2 {
        grid-row: span 2;
    }

    .clients {
        width: 90%;
        grid-template-columns: 1fr;
        row-gap: 60px;
        padding-inline: 24px;
    }

    .clients-title {
        font-size: 32px;
    }

    .mobile-hide-clients {
        display: none;
    }

    .clients-card-box {
        width: 85%;
        margin-inline: auto;
    }

    .news-event {
        width: 90%;
        margin-inline: auto;
    }

    .news-event-description {
        padding-inline: 0px;
    }

    .news-event-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .event-card-img {
        width: 100%;
    }
}


@media screen and (min-width: 361px) and (max-width: 459px) {
    .banner {
        width: 80%;
        margin: 0px auto;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .banner-heading {
        font-size: 2.8rem;
    }

    .banner-left {
        align-items: center;
    }

    .mobile-hide {
        display: none;
    }

    .rating-card {
        padding-inline: 20px;
        padding-block: 12px;
        gap: 10px;
    }

    .rating {
        font-size: 18px;
    }

    .featured-heading {
        font-size: 36px;
    }

    .featured-card {
        grid-template-columns: 1fr;
        gap: 40px;
        width: 90%;
        margin-inline: auto;
    }

    .presented {
        grid-template-columns: 1fr;
    }

    .fresh-card-box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .fresh-card-1 {
        grid-row: span 1;
    }

    .fresh-card-2 {
        grid-row: span 2;
    }

    .clients {
        width: 90%;
        grid-template-columns: 1fr;
        row-gap: 60px;
        padding-inline: 24px;
    }

    .clients-title {
        font-size: 36px;
    }

    .mobile-hide-clients {
        display: none;
    }

    .clients-card-box {
        width: 85%;
        margin-inline: auto;
    }

    .news-event {
        width: 85%;
        margin-inline: auto;
    }

    .news-event-description {
        padding-inline: 0px;
    }

    .news-event-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .event-card-img {
        width: 100%;
    }
}


@media screen and (min-width: 460px) and (max-width: 639px) {
    .banner {
        width: 80%;
        margin: 0px auto;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .banner-heading {
        font-size: 3rem;
    }

    .rating-card {
        padding-inline: 20px;
        padding-block: 12px;
        gap: 12px;
    }

    .rating {
        font-size: 22px;
    }

    .featured-card {
        grid-template-columns: 1fr;
        gap: 40px;
        width: 90%;
        margin-inline: auto;
    }

    .presented {
        grid-template-columns: 1fr;
    }

    .fresh-card-box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .fresh-card-1 {
        grid-row: span 1;
    }

    .fresh-card-2 {
        grid-row: span 2;
    }

    .clients {
        grid-template-columns: 1fr;
        row-gap: 60px;
        padding-inline: 24px;
    }

    .clients-title {
        font-size: 40px;
    }

    .mobile-hide-clients {
        display: none;
    }

    .clients-card-box {
        width: 80%;
        margin-inline: auto;
    }

    .news-event-description {
        padding-inline: 16px;
    }

    .news-event-box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .event-card-img {
        width: 100%;
    }
}